
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing_page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.left_container , .main_container{
  background-color: rgb(32, 32, 32);
  margin: 20px 10px 20px 10px;
  padding: 20px;
  border-radius: 15px;
}

.presentation{
  display: flex;
  flex-direction: column;
}

.presentation_top{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.presentation_text {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: auto 30px;
}

.presentation_text > * {
  margin: 10px;
}

.presentation_text h1 {
  margin: 0px 10px;
  font-size: 40pt;
}

.presentation_text h3 {
  margin: 0px 10px;
  font-size: 15pt;
}

.presentation_text span {
  max-width: 70%;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #e35e3d;
  color: #fff;
  cursor: pointer;
}

.contact{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 10px auto;
  padding: 10px 5px;
}

.contact_icon_section{
  background-color: rgb(45, 44, 44);
  height: max-content;
  padding: 10px;
  border-radius: 5px;
}

.contact_info{
  text-align: left;
  padding: 10px;
}

.icon_img{
  width: 30px;
}


.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Menu */

.menu{
  display: flex;
  justify-content: end;
  width: 100%;
  /* background-color: #333; */
  border-radius:10px;
  overflow: hidden;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu li {
  padding: 10px;
  margin: 10px 10px;
  cursor: pointer;
  background:none
}

.menu .active{
  /* border: 2px solid #fff; */
  background-color: #333;
  color: #fff;
  border-color: #333;
}

#contact_me_link {
  padding: 10px;
  background: #e35e3d;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

/* About me page begin */

.about_me_page {
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  text-align: justify;
}

#profile_pic {
  width: 100%;
  padding: 20px;
  border-radius: 25px;
}

.aboutme_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  
}

/* Content Section */

.content{
  padding: 0px 20px ;
  height: fit-content;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.title_container {
  height: 40px;
  width: fit-content;
  text-align: left;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* About me text */

.aboutme_text span {
  text-align: justify;
  max-width: 80%;
}

/* Ends about me */

/* Begins Skills */

.skills_page {
  margin-top: 150px;
  height: 100vh;
}

/* Ends Skills */

.skills_section {
  display: flex;
  flex-direction: column;
  height: max-content;
  text-align: justify;
  padding: 30px;
}

.Skills_header{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.skill_card {
  width: 150px;
  height: 150px;
  background-color: #e35e3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: auto;
}

.skill_name {
  font-size: 14pt;
}

/* Begins Portfolio */

.projects_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  width: 100%;
  margin-bottom: 100px;
  cursor: pointer;
}

.project_card {
  display: flex;
  flex-direction: column;
  height: 350px;
  max-height: 350px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 10px;
}

.project_screenshot {
  width: 100%;
  height: 100%;
  max-height: 292px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project_description_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto 20px;
  text-align: left;
}

.project_link {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  font-size: 15pt;
  font-weight: bold;
}

.project_description{
  text-align: center;
}
/* Ends Portfolio */

.contact_page {
  height: fit-content;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.conteiner > span {
  margin-bottom: 30px;
}

.conteiner > button {
  margin: auto;
}

footer {
  background-color: #e35e3d;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
}

h1, h2 {
  margin: 10px auto;
}

h3 {
  margin-top: 20px;
}

p, ul {
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

.filter_menu{
  margin: 10px;
  text-align: left;
}

.filter_menu button{
  background: none;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  /* border: 1px solid #333; */
  width: fit-content;
}

.filter_menu .active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.filter_menu button:hover {
  background-color: #333;
}
